@font-face {
    font-family: simplonmono-regular;
    src: url("~static/fonts/simplonmono-regular.eot");
    src: url("~static/fonts/simplonmono-regular.eot?#iefix") format("embedded-opentype"), url("~static/fonts/simplonmono-regular.woff2") format("woff2"), url("~static/fonts/simplonmono-regular.woff") format("woff"), url("~static/fonts/simplonmono-regular.ttf") format("truetype"); }
@font-face {
    font-family: euclidflexmedium;
    src: url("~static/fonts/euclidflexmedium.eot");
    src: url("~static/fonts/euclidflexmedium.eot?#iefix") format("embedded-opentype"), url("~static/fonts/euclidflexmedium.woff2") format("woff2"), url("~static/fonts/euclidflexmedium.woff") format("woff"), url("~static/fonts/euclidflexmedium.ttf") format("truetype"); }
